/* CSS rules for medium screens */

@media only screen and (min-width: 790px){

    /* Reset some default styles */
body, h1, h2, p, form, nav {
    margin: 0;
    padding: 0;
  }
  
/* Style the main body section */ 
section{
    grid-column: 1;
    margin: auto;
    margin-left: 10%;
    margin-right: 5%;
    width: 80%;
    padding: 10px;
    align-items: center;
    align-self: center;
}


  /* Apply a background color and set font styles */
  body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  

    /* Style the header section */
  header {
    background-color: #fff;
    color: #000000;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  
  h1[class="logoName"]{
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: end;
    width: 60%;
  }

  img[class="logo"]{
   padding-left: 10%;
}
  /* Style for unordered lists and its items */
  li, ul [class="menu"]{
    margin: 0;
    padding: 0;
  }


  /* Style the navigation menu */
  nav {
    background-color: #dbdbdb;
    padding: 10px;
    text-align: center; /* Center the content within the nav */
  }
  
  nav a {
    color: #9e9e9e;
    text-decoration: none;
    margin-right: 15px;
    
  }

  nav a:hover{
    color: #000000;
    text-decoration: none;
    margin-right: 15px;
    
  }

  nav a[class="selected"]{
    color: #000000;
    text-decoration: none;
    margin-right: 15px;
    
  }

  table{
    margin: 0 auto; /* Center the table horizontally within its container */
    color: #fff;
  }



  p[class="mainMenu"]{
    margin-left: 10px;
    margin-right: 0px;
  }
  
  /* Style the main content section */
  fieldset {
    width: 90%;
    margin: 20px auto;
    padding: 5%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  
  form {

    width: 80%;

    margin-left: 10%;
    margin-right: 5%;

    display: grid;
    grid-template-columns: 1fr 1fr; /* Adjust the width of the first column as needed */
    grid-template-rows: 1fr 1fr; /* Adjust the height of the rows as needed */
    grid-gap: 2%;
  }
  
  .form-input,
  .form-textarea {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .learnBtn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .learnBtn:hover {
    background-color: #555;
  }
  

  /* Style the footer section */
  footer {
    background-color: #fff;
    color: #000000;
    text-align: center;
    padding: 1px;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  main{
    align-items: center;
  }

  #roadmapSection{
    margin-top: 10%;
    margin-bottom: 10%;
    grid-row: 1;
  }

  h3[class="yearHeader"]{
    margin: auto;
  }

  #f1{
    grid-row: 1/1;
    grid-column: 1;
  }

  #w1{
    grid-row: 1/1;
    grid-column: 2;
  }

  #f2{
    grid-row: 2/2;
    grid-column: 1;
  }

  #w2{
    grid-row: 2/2;
    grid-column: 2;
  }

  #small{
    display: none;
  }

body{
    max-width: 790px;
    margin: auto;
}
figure{
    align-items: center;
  }
  figcaption {
    font-size: 8px; /* Adjust the font size as needed */
  }
  
}

