/* Reset some default styles */
body, h1, h2, p, form, nav {
    margin: 0;
    padding: 0;
  }
  
/* Style the main body section */ 
section, h3[class="yearHeader"]{
    margin-left: 33px;
    margin-right: 50px;
}


  /* Apply a background color and set font styles */
  body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  /* Style the header section */
  header {
    background-color: #fff;
    color: #000000;
    text-align: center;
    padding: 20px;
  }
  
  h1[class="logoName"]{
    display: inline;
  }

  img[class="logo"]{
    vertical-align: -150%; /*https://www.w3schools.com/cssref/playdemo.php?filename=playcss_vertical-align&preval=50%25 is my source */
}

  /* Style for unordered lists and its items */
  li, ul [class="menu"]{
    margin: 0;
    padding: 0;
  }


  /* Style the navigation menu */
  nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center; /* Center the content within the nav */
  }
  
  nav a {
    color: #000000;
    text-decoration: none;
    margin-right: 15px;
    
  }

  nav a:hover{
    color: #b0f2f8;
    text-decoration: none;
    margin-right: 15px;
    
  }

  table{
    margin: 0 auto; /* Center the table horizontally within its container */
    color: #fff;
  }

  th{
    background-color: #e9e9e9;
  }

  /*https://www.w3schools.com/css/tryit.asp?filename=trycss_table_striped is my source for colouring even and odd differently */
  tr:nth-child(odd) {background-color: #f1f1f1;}
  tr:nth-child(even) {background-color: #e9e9e9;}

  p[class="mainMenu"]{
    margin-left: 10px;
    margin-right: 0px;
  }
  
  /* Style the main content section */
  fieldset {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-input,
  .form-textarea {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .learnBtn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .learnBtn:hover {
    background-color: #555;
  }
  

  /* Style the footer section */
  footer {
    background-color: #fff;
    color: #000000;
    text-align: center;
    padding: 1px;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  